.basic-single{
    width: 500px;
    margin: 0 auto;
}

.typewriter {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 30%;
  bottom: 70%;
}

.inputfield{
    height: 30px;
    width: 500px;
    
}

.shellinput {
    position: relative;
    top: 60%;
    bottom:40%;
    width: 100%;

}

.heading {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
}

.subtext {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    width: 100%;
}

.locationouter{
  position: fixed;
    top: 55%;
    bottom:45%;
    width: 100%;
}
.buttons2 {
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 150px;
}

.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btn:hover {
    text-decoration: none;
  }
  
  /*btn_background*/
  .effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #000;
    outline: solid  2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }
  
  .effect04::before,
  .effect04 span{
      margin: 0 auto;
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-duration: 0.4s;
  }
  
  /* 文字1を上に */
  .effect04:hover{
  
    background-color: #000;
  }
  
  /* HOVERしたら文字1を上に */
  .effect04:hover span{
    -webkit-transform: translateY(-400%) scale(-0.1,20);
            transform: translateY(-400%) scale(-0.1,20);
  }
  
  /*文字2*/
  .effect04::before{
    content: attr(data-sm-link-text);
      color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1,20);
            transform: translateY(500%) scale(-0.1,20);
  }
  
  /* HOVERしたら文字2を上に */
  .effect04:hover::before{
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1,1);
            transform: translateY(0) scale(1,1);
  }
  
  .buttons{
    padding-top: 150px;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
  
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

@media screen and (max-width: 960px) { 

    .basic-single{
        width: 250px;
        position: fixed;
    }

    .locationouter{
      top:63%;
      bottom: 37%;
    }
}